@import "./variables";
@import "./breakpoints";

.navbar {
  background-color: white;

  display: block;
  width: 100%;
  height: 100%;

  .nav-items {
    height: $nav-big;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

    .justify-left {
      justify-self: start;
    }

    .justify-right {
      justify-self: end;
    }

    .justify-center {
      justify-self: center;
    }

    @include for-tablet-down {
      height: $nav-small;

      .nav-title {
        display: none;
      }
    }
  }

  .nav-title {
    display: block;
  }

  .nav-links {
    display: flex;

    .nav-link {
      margin: 1rem;
    }
  }
}
